* {
    box-sizing: border-box;
}

.container {
    font-family: Helvetica;
}

#weather_block {
    padding: 5px;
    font-size: 21px;
    color: white;
    text-align: center;
    margin: auto;
    width: 320px;
    background-image: url('img/wallpaper-mars.jpg');
    background-size: cover;
    border: 1px solid black;
    font-weight: 700;
    text-shadow: 2px 1px 1px black;
}

.titleWeather {
    padding: 5px;
    font-size: 23px;
}

.tempratureStyle {
    font-size: 57px;
}

.windInfo{
  margin: 5px 0 5px 0;
  font-size: 15px;
  font-weight: 700;
}

#nav_buttons {
    margin-top: 5px;
    border-top: 1px solid white;
}

#nav_buttons button{
  font-size: 20px;
    background: none;
    border: none;
    color: white;
    outline: none;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}

#anim {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

#anim > div {
  background-color: #333;
  height: 100%;
  width: 8px;
  padding: 5px;
  margin: 1px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#anim .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#anim .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}