*{
	margin: 0;
}

main{
    text-align: center;
    margin: auto;
	max-width: 1192px;
}

.text_logo{
	margin: 10% 0 0 0;
	text-align: center;
	font-size: 170px;
	font-family: sans-serif;
	color: rgb(70, 69, 71);
	font-stretch: ultra-condensed;
	letter-spacing: -5px;
    transform: scaleY(1.2);
    transform: scaleX(0.8);
}

.text_logo:before{
	content: "<";
	color: rgb(57, 194, 215);
	vertical-align: middle;
	font-stretch: ultra-condensed;
}

.text_logo:after{
	content: ">";
	color: rgb(57, 194, 215);
	vertical-align: middle;
    font-stretch: ultra-condensed;
}

