$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyBackground: #659a01;
$bodyColor: #ffffff;
$contentBackground: #666701;
$aColor: #ffffff;
$HColor: #ffcd10;
$h2FontStyle: normal;
$imgBorder: 1px solid #ffffff;
$imgPadding: 10px;
$briefBackground: #677d01;
$briefWidth: 100%;
$briefMargin: 4px 15px 20px 0;
$briefFontWeight: 300;
$tableColor: #94a34e;
$CaptionFontWeight: 300;
$tdBackground: #677d01;



$bodyBackground: #ddbc9b !default;
$bodyColor: #000000 !default;
$contentBackground: #ffffff !default;
$aColor: #2e679e !default;
$HColor: #8b3d00 !default;
$briefBackground: #fadcba !default;
$briefWidth: 35% !default;
$tableColor: #e0e0e0 !default;
$tdBackground: #ffffff !default;