$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyBackground: #ddbc9b;
$bodyColor: #000000;
$contentBackground: #ffffff;
$aColor: #2e679e;
$HColor: #8b3d00;
$h2FontStyle: italic;
$imgBorder: 2px solid #8b3d00;
$imgPadding: 2px;
$briefBackground: #fadcba;
$briefWidth: 35%;
$briefMargin: 4px 15px 10px 0;
$briefFontWeight: 700;
$tableColor: #e0e0e0;
$CaptionFontWeight: 700;
$tdBackground: #ffffff;