*{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    text-align: center;
}

li{
    margin-bottom: 5px;
    padding: 5px;
    list-style: none;
}

.grid{
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    display: grid;
    height: 550px;
    width: 927px;
    background: #0099ff;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 50px);
    border: none;
}

.nav{
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 12;
    text-align: center;
}

nav ul:first-child {
    margin-top: 10px;
    border: none;
}

nav ul:nth-child(2) {
    padding: 15px 10px 20px 10px;
    margin: 10px 0;
}

nav ul:nth-child(2) li:first-child {
margin-top: 10px;
}

nav ul:last-of-type {
    border: none;
}

.header{
    line-height: 90px;
    margin-left: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.imgs{
    margin: 10px;
    padding: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
}

.imgs_grid{
    display: grid;
    grid-template-columns: repeat(6, 65px);
    grid-template-rows: repeat(2, 50px);
}

.imgs figure{
    margin: 5px 5px 1px 1px;
    line-height: 40px;
}

.article1{
    line-height: 130px;
    margin: 0 3px 0 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
}

.article2{
    line-height: 130px;
    margin: 0 10px 0 0px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
}

.footer{
    line-height: 80px;
    margin: 10px 10px 0 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
}

.aside{
    line-height: 400px;
    margin: 10px 5px 0 0;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 12; 
}